<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Games</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</head>
<body>
<div class="p-3 mb-2 bg-info text-white">
  <div style="text-align: center">
      <form method="get" action="{{url_for('home')}}">
          <button type="submit" class="btn btn-transparent text-white">Home</button>
        </form>
    <!-- <a class="btn btn--outline-light" href="allgames.html" role="button">All Games</a> -->
    <a class="btn btn--outline-light" href="https://store.steampowered.com" role="button">Steam</a>
    <a class="btn btn--outline-light" href="https://www.metacritic.com/game/pc" role="button">Metacritic</a>
    <a class="btn btn--outline-light" href="https://www.ign.com/pc" role="button">IGN</a>
    <a class="btn btn--outline-light" href="https://www.pcgamer.com" role="button">PC Gamer</a>
  </div>
  <h1 style="text-align: center; "></br>1StopGameRatings</br></br></h1>


</div>
<div class="p-3 mb-2 bg-transparent text-white">

  <!--
      have the links to all the pages here with pic's?
  and page numbers?

  -->



  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>
  <a class="btn btn--outline-light" href="gamepage.html" role="button">Name of game </a>




<!-- links to all game pages with or with out pictures of the games... also page turn at the bottom wrap ?-->
</div>
</body>
</html>