<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title id=Gamename"> {{title}} </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</head>
<body style="background-color: #0E2159 !important">
<div class="p-3 mb-2  ">
  <div class=" text-white">
  <div style="text-align: center">
      <form method="get" action="{{url_for('home')}}">
        <button type="submit" class="btn btn-transparent text-white">Home</button>
      </form>
    <!--<a class="btn btn-transparent text-white" href="allgames.html" role="button">All Games</a>-->
    <a class="btn btn-transparent text-white" href="https://store.steampowered.com" role="button">Steam</a>
    <a class="btn btn-transparent text-white" href="https://www.metacritic.com/game/pc" role="button">Metacritic</a>
    <a class="btn btn--transparent text-white" href="https://www.ign.com/pc" role="button">IGN</a>
    <a class="btn btn-transparent text-white" href="https://www.pcgamer.com" role="button">PC Gamer</a>
  </div>
    <!-- have name of Game scraped put here-->
  <h1 style="text-align: center; "id=Gamename"></br>{{title}}</br></br></h1>

  </div>

  <div class="container">
    <div class=" text-white">
  <div class="row">

    <div class="col">


      <div class="card" style=" border-color:  #FF0AC2 !important" >
        <div class="card-body" style="background-color: #7B4BBF !important">
          <h5 class="card-title roboto">Game Info:</h5>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item "style="background-color: #7B4BBF !important"id="Gameid"> <a style="color: white; text-decoration: underline" href="{{steam_url}}"> Steam Link </a> </li>
            <li class="list-group-item" style="background-color: #7B4BBF !important"id="Gamegenre"> Genres: <strong> {{genres}} </strong>  </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important"id="Gamereleasedate"> Release Date: <strong> {{release_date}} </strong> </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important"id="Gamedeveloper"> Developer: <strong> {{developer}} </strong> </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important"id="Gamepublisher"> Publisher: <strong> {{publisher}} </strong> </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important"id="Gameprice"> Price: <strong> {{price}} </strong> </li>

          </ul>
        </div>
      </div>
      </br>
      <div class="card" style=" border-color:  #FF0AC2 !important" >
        <div class="card-body" style="background-color: #7B4BBF !important" >
          <h5 class="card-title roboto">Related Games:</h5>
          <ul class="list-group list-group-flush ">
            
            <li class="list-group-item "style="background-color: #7B4BBF !important" id="game_name1"> 
                <form method="get" action="{{url_for('game')}}">
                    <button type="submit" name="game" class="btn btn-link" style="color:white" value="{{related_games[0][0]}}">{{related_games[0][1]}}</button>
                </form>
            </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important" id="game_name1"> 
                <form method="get" action="{{url_for('game')}}">
                    <button type="submit" name="game" class="btn btn-link" style="color:white" value="{{related_games[1][0]}}">{{related_games[1][1]}}</button>
                </form>
            </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important" id="game_name1"> 
                <form method="get" action="{{url_for('game')}}">
                    <button type="submit" name="game" class="btn btn-link" style="color:white" value="{{related_games[2][0]}}">{{related_games[2][1]}}</button>
                </form>
            </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important" id="game_name1"> 
                <form method="get" action="{{url_for('game')}}">
                    <button type="submit" name="game" class="btn btn-link" style="color:white" value="{{related_games[3][0]}}">{{related_games[3][1]}}</button>
                </form>
            </li>
            <li class="list-group-item "style="background-color: #7B4BBF !important" id="game_name1"> 
                <form method="get" action="{{url_for('game')}}">
                    <button type="submit" name="game" class="btn btn-link" style="color:white" value="{{related_games[4][0]}}">{{related_games[4][1]}}</button>
                </form>
            </li>

          </ul>
        </div>
      </div>

    </div>
    <div class="col-6">
      <div style="text-align: center">

              <img src="{{image}}" class="d-block w-100" id="Gameimg">


        </br>
          <div class="card" style=" border-color:  #FF0AC2 !important" >
            <div class="card-body" style="background-color: #7B4BBF !important">
              <h5 class="card-title roboto"id="Gamedescritprion">Description:</h5>
          <li class="list-group-item "style="background-color: #7B4BBF !important"> {{description}}</li>
              </ul>
            </div>
          </div>

      </div>
    </div>
    <div class="col">

      <div class="card" style=" border-color:  #FF0AC2 !important"  >
        <div class="card-body" style=" background-color: #7B4BBF !important" >
          <h5 class="card-title roboto">Ratings:</h5>
          <ul class="list-group list-group-flush ">

      <li class="list-group-item"  style="background-color: #7B4BBF !important"id="metacritic"> Metacritic: <a style="color: white; text-decoration: underline" href="{{metacritic_url}}"> {{metacritic_score}} </a> </li>
      <li class="list-group-item"  style="background-color: #7B4BBF !important"id="ign"> IGN: <a style="color: white; text-decoration: underline" href="{{ign_url}}"> {{ign_score}} </a> </li>
      <li class="list-group-item"  style="background-color: #7B4BBF !important"id="pcgamer"> PC Gamer: <a style="color: white; text-decoration: underline" href="{{pcgamer_url}}"> {{pcgamer_score}} </a> </li>
          </ul>
        </div>
      </div>
</br>
      <div class="card" style=" border-color:  #FF0AC2 !important" >
        <div class="card-body" style="background-color: #7B4BBF !important" >
          <h5 class="card-title roboto">Average Rating:</h5>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item "style="font-size: 48px; background-color: #7B4BBF !important; " id="gameavrrating"> <strong> {{average}} </strong> </li>

          </ul>
        </div>
      </div>

    </div>
    </div>
  </div>
  </div>
</div>

  <!-- make new html file name it the name of the game
  copy gamepage.html paste in new html
  put in info and save.
  copy html file name and paste in repository and save.

-->

</div>
<script>
$('.carousel')
    .carousel()
;
</script>
</body>
</html>