<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>1StopGameRatings</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</head>
<body style="background-color:  #0E2159 !important">

<div class="p-3 mb-2  text-white">
  <br>
  <h1 style="text-align: center; ">1StopGameRatings</h1>
  <br>
  <br>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
      <div class="col-5">
        <div style="text-align: center">

            <form method="get" action="{{ url_for('results') }}" class="form-inline my-2 my-sm-0" >
              <select class="custom-select" style="text-align: center" name="searchtype" value="0">
                <option value="0">Whoosh!</option>
                <option value="1">Custom</option>
              </select>
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchterm">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
           </form>

          <!-- search box whe search is pushed it refreshes the page. need to take input from search box and run through
          search code and print out results as an enbeded page with next page buttens-->


        </div>
      </div>

    <div class="col">
      </div>
    </div>
  </div>



  <div style="text-align: center">
    <br>
    <!--<a class="btn btn-transparent text-white" href="allgames.html" role="button">All Games</a>-->
    <a class="btn btn-transparent text-white" href="https://store.steampowered.com" role="button">Steam</a>
    <a class="btn btn-transparent text-white" href="https://www.metacritic.com/game/pc" role="button">Metacritic</a>
    <a class="btn btn-transparent text-white" href="https://www.ign.com/pc" role="button">IGN</a>
    <a class="btn btn-transparent text-white" href="https://www.pcgamer.com" role="button">PC Gamer</a>
    <form method="get" action="{{url_for('aboutus')}}">
      <button type="submit" class="btn btn-transparent text-white">About Us</button>
    </form>
</div>
  <br>
  <h6 style="text-align: center">Click on a Game for More Information</h6>
</div>


{% if query %}
<div class="p-3 mb-2 bg-transparent text-white">

    <div style="text-align: center">
      <h4>Results for <strong>{{query}}</strong></h4>
      {{ pagination.info }}
      <table id="results" class="table table-sm" style="color: white">
        <thead>
          <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">Rating</th>
          </tr>
        </thead>
        <tbody>
        {% for id, name, rating in results %}
          <tr>
            <td>
                <form method="get" action="{{url_for('game')}}">
                  <button type="submit" name="game" class="btn btn-link" style="color:white" value="{{id}}">{{name}}</button>
                </form>
            </td>
            <td>
              {{rating}}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ pagination.links }}

</div>
{% endif %}
</div>
</body>
</html>